*, *::after, *::before {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
	cursor: default;
}

#wrap {
	display: none;
	font-family: 'Segoe UI';
	overflow: auto;
	width: 14%;
	height: 5vw;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(0, 0, 0, 0);
	color: rgba(121, 205, 121, 0.9);
	border-radius: 2px;
	margin-top: 2%;
}

.header {
	background-color: #1c1c1cdf;
	padding-top: 1%;
	padding-bottom: 1%;
	text-align: center;
}

.header a {
	padding: 3%;
}

.playerlist {
	width: 100%;
	text-align: center;
	color: white;
}
